{% extends '../coordenacao/base.html' %}

{% block title %}Pagina do Coordenador{% endblock %}

{% block content %}

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-success">Aqui teremos os documentos</a>
  <a href="#" class="list-group-item list-group-item-info">Filtrados por Curso</a>
  <a href="#" class="list-group-item list-group-item-warning">Que um Coord enviou</a>
  <a href="#" class="list-group-item list-group-item-danger">e/ou deve enviar</a>
  <a href="#" class="list-group-item list-group-item-warning">Ou que expirou o prazo</a>
  <a href="#" class="list-group-item list-group-item-info">Tendo como trigger a funcao de <b>enviar um documento</b></a>
</div>

{% endblock %}
