{% extends '../coordenacao/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="panel panel-danger login_container">
    <div class="panel-heading">
      <h1 class="panel-title">Login</h1>
    </div>
    <div class="panel-body">
      <form method='post'  class="form-inline">
        {% csrf_token %}
        <div class="row">
          <label for="{{ form.username.id_for_label }}" class="col-sm-3 control-label">Matrícula</label>
          {{form.username}}
        </div>
        <div class="row">
          <label for="{{ form.password.id_for_label }}" class="col-sm-3 control-label">Senha</label>
          {{form.password}}
        </div>
        <button type="submit" class="btn btn-default">Send invitation</button>
      </form>
    </div>
  </div>
{% endblock %}
